@import "colors.less";

.browse-panel {
  ul {
    margin-top: 10px;
  }

  .menu {
    list-style: none;
    padding-left: 0;
    margin-bottom: 40px;

    li {
      display: inline-block;
      width: 80px;

      a {
        color: @black;
        text-decoration: none;
        font-size: 140%;

        &.active, &:hover {
          border-bottom: 4px solid @teal;
        }
      }
    }
  }

  form {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  h3 {
    margin: 0 20px 0 0;
    min-width: 50px;
  }

  .radio-group {
    label {
      background: @light;
      padding: 10px 20px;
      user-select: none;
      cursor: pointer;

      &:hover {
        border-bottom: 4px solid @teal;
      }
    }
    input[type="radio"] {
      display: none;

      &:checked + label {
        border-bottom: 4px solid @teal;
      }
    }
  }

  .sort-direction {
    margin-left: 10px;

    i {
      margin: 10px 5px;
      font-size: 140%;
      cursor: pointer;
    }

    input[type="radio"] {
      display: none;

      &:checked + i {
        color: @teal;
      }
    }

  }
}
