@import "colors.less";

.browse-panel {
  ul {
    margin-top: 10px;
  }

  .menu {
    list-style: none;
    padding-left: 0;

    li {
      display: inline-block;
      width: 80px;

      a {
        color: @black;
        text-decoration: none;
        font-size: 120%;

        &.active, &:hover {
          border-bottom: 4px solid @teal;
        }
      }
    }
  }

  .presenting-options {
    h2 {
      display: inline-block;
    }
  }

  .radio-group {
    input[type="radio"] {
      display: none;

      &:checked + label {
        background: @teal;
        //box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.35);
      }
    }
    label {
      background: @light;
      padding: 10px 20px;
    }
  }

  .sort-direction {
    display: inline-block;

    i {
      margin: 10px 5px;
      font-size: 140%;
      cursor: pointer;
    }

    input[type="radio"] {
      display: none;

      &:checked + i {
        color: @teal;
      }
    }

  }
}
