@import "colors.less";

body {
  background: @body-background;
  font-size: 17px;
  line-height: 1.4;
  font-family: 'Jaldi', sans-serif;
  margin: 0;
  padding: 0;
  color: @black;
  overflow-y: scroll; // prevent Safari from hiding it

  h1.title {
    margin: 18px 0 9px;
  }
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 5px 20px;
}

.error-message {
  position: fixed;
  height: 0px;
  line-height: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  background: @red;
  color: white;
  text-align: center;
  transition: height 0.5s ease-out;
}

select {
  border: 1px solid @grey;
  border-radius: 4px;
  width: 150px;
  padding: 10px 20px;
  font-size: 16px;
  appearance: none;
  background: @light;
  cursor: pointer;
}
