@import "colors.less";

ul.media-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid @grey;
  margin-top: 40px;

  & > li:nth-child(even) {
    border-left: 1px solid @grey;
  }

  & > li:nth-child(n+3) {
    border-top: 1px solid @grey;
  }

  @media (max-width: 700px) {
    & > li.media-item:nth-child(even) {
      border-left: none;
    }

    & > li.media-item:nth-child(n+2) {
      border-top: 1px solid @grey;
    }

  }

  li.media-item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 40%;
    padding: 2%;

    @media (max-width: 700px) {
      & {
        flex: 1 80%;
      }
    }

    background: @light;
    border-radius: 0;
    position: relative;
    width: 100%;

    h3, p {
      margin: 0 0 10px;
    }

    & > p {

      display: flex;
      flex: 1;
    }

    h3 {
      text-transform: capitalize;
    }

    i.fa {
      margin-right: 5px;
    }

    .tags {
      font-style: italic;
      color: @grey;
    }

    .ribbon {
      width: 105px;
      height: 110px;
      overflow: hidden;
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;

      span {
        color: @light;
        text-align: center;
        transform: rotate(45deg);
        position: relative;
        padding: 6px 0px;
        left: 20px;
        top: 13px;
        width: 119px;
        background: @teal;
        display: block;
        font-weight: bold;
        letter-spacing: 3px;
      }
    }

    .watchlist-button {
      min-width: 210px;
      padding: 5px 10px;
      background: @light;
      font-size: 100%;
      border: 1px solid grey;
      border-radius: 4px;
      cursor: pointer;

      &.added {
        background-color: @teal;
        border-color: @teal;
        color: white;
      }
    }

  }
}
